.Login {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
  background-color: #101010;
  border-radius: 5px;
  box-shadow: 5px 5px 7px 6px #202020;
  color: #dfdfe5;
}
.input-field {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px 0;
}
label {
  width: 40%;
  font-size: 14px;
}
input {
  width: 50%;
}
p {
  width: 90%;
  color: red;
  font-size: 12px;
}
input + label {
  border: 50%;
  overflow: hidden;
}
h1 {
  text-align: center;
}
